<head th:fragment="header">


    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
    <title>Lifelog</title>
    <link href='./css/style.css' rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="webjars/font-awesome/4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>

    <script type="application/javascript" src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="webjars/angularjs/1.6.4/angular.min.js"></script>
    <script type="application/javascript" src="webjars/angularjs/1.6.4/angular-route.min.js"></script>
    <script type="application/javascript" src="webjars/angularjs/1.6.4/angular-resource.min.js"></script>
    <script type="application/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="./js/lifelog-app.js"></script>
    <!--<script type="text/javascript" src="./js/NavigationController.js"></script>-->

</head>