<head th:fragment="header">

<head>
<!--#https://developers.google.com/speed/libraries/#angularjs-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Lifelog</title>

    <link  href='./css/css/style.css' rel="stylesheet" type="text/css"/>
    <!--
       <link href='./css/css/bootstrap.css' rel="stylesheet" type="text/css"/>
    <link href='./css/css/font-awesome.css' rel="stylesheet" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js}"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js}"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js}"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-cookies.js}"></script>
 <script th:src="@{stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css}"></script>
    <script type="text/javascript" src="./js/app/app.js"></script>
-->


    <link rel="stylesheet" href="webjars/font-awesome/4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>

    <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="webjars/angularjs/1.6.4/angular.min.js"></script>
    <script src="webjars/angularjs/1.6.4/angular-route.min.js"></script>
    <script src="webjars/angularjs/1.6.4/angular-resource.min.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="./js/app/lifelog-app.js"></script>


</head>
<body>
<nav class="navbar navbar-fixed-top  navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="${projects}?typeId=1">Lifelog</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li id="menulink1" ><a class="nav-link" href="${projects}?typeId=1">Posts<span class="sr-only">(current)</span></a></li>
                <li id="menulink2" ><a class="nav-link" href="${projects}?typeId=2">Photos</a></li>
                <li id="menulink3" ><a class="nav-link" href="${projects}?typeId=3">Meals</a></li>
                <li id="menulink4" ><a class="nav-link" href="${about}">about</a></li>
                <li id="menulink5" ><a href="${contact}">contact</a></li>
            </ul>
            <form action="projects" method="GET" class="navbar-form navbar-right">
                <div class="form-group has-feedback">
                    <label for="search" class="sr-only">Search</label>
                    <input class="form-control" name="search" id="search"  ng-model="user.name" placeholder="Search"/>
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </form>
        </div>
    </div>
</nav>

</body>
</head>