<div th:fragment="footer">


<hr/>
    <footer class="site-footer">

        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">About Us</h3>
                        <p></p>
                        <li><a href="#">about</a></li>
                        <li><a href="#">contact</a></li>
                        <li><a href="#">Privacy-Policy</a></li>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Menu</h3>
                        <ul class="no-bullet">
                            <li><a href="#">posts</a></li>
                            <li><a href="#">photos</a></li>
                            <li><a href="#">meals</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">

                        <!--
                        <h3 class="widget-title">Social</h3>
                        <ul class="no-bullet">
                            <li><a target="_blank" href="https://www.facebook.com/bakuposter">
                                <img border="0" src="<c:url value="/resources/images/social/facebook.png" />"/>
                            </a>
                            </li>
                            <li>
                                <a target="_blank" href="http://twitter.com/rashjz">
                                    <img border="0" src="<c:url value="/resources/images/social/twitter.png" />"/>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.linkedin.com/in/rashjz/">
                                    <img border="0" src="<c:url value="/resources/images/social/linkedin.png" />"/>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://plus.google.com/u/0/+rashadjavadov/">
                                    <img border="0" src="<c:url value="/resources/images/social/google.png" />"/>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.instagram.com/rashjz/">
                                    <img border="0" src="<c:url value="/resources/images/social/instagram.png" />"/>
                                </a>
                            </li>
                        </ul>
                        -->
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Newsletter</h3>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Email Address"/>
                        </form>
                    </div>
                </div>
            </div>

            <div class="colophon"> © 2017 Bütün hüquqlar qorunur. (<a href="http://rashjz.info" target="_blank">http://rashjz.info</a>)
            </div>
        </div>
    </footer>



</div>